* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

h1 {
  color: blue;
}

.dark {
  background-color: black;
  color: white;
}

.product {
  border: 2px solid black;
  width: 300px;
}

#products {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: steelblue;
  flex-wrap: wrap;
}
.card {
  width: 150px;
  height: 200px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
